@import '../../../utils/styles/variabel.scss','../../../utils/styles/color.scss';

.card-image {
    position: relative;
    max-width: 280px;
    max-height: max-content;
    box-shadow: 10px 30px 75px -14px rgba(0,0,0,0.7);
    border-radius: $border-radius-small;
   .content-image{
    object-fit: contain;
    object-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 280px;
    min-width: 185px;
    max-height: 285px;
    min-height: 185px;
    border-radius: 5px 5px 0 0;
   }

    .__content-detail {
        display: flex;
        gap: 5px;
        justify-content: flex-start;
        padding:10px 5px;
        
    }

    &-popup {
        display: none;
        width: 280px;
        left: 280px;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 10px;
        position: relative;
        border-radius: $border-radius-small;

        svg {
            position: absolute;
            left: -20px;
            top: 50%;
            bottom: 50%;
            font-size: 30px;

            path {
                color: white;
            }
        }
    }

    &:hover {
        .card-image-popup {
            box-shadow: 10px 30px 75px -14px rgba(0, 0, 0, 0.7);
            display: block;
            position: absolute;
            z-index: 99999;


            background-color: white;

            animation-name: overlayAnimate;
            animation-duration: 2s;
            transition-timing-function: ease-in;
            .__content{
                position: relative;
                button{
                    background-color: $main-color;
                    color: white;
                    border-radius: 5px;
                    opacity: 0.8;
                    padding: 10px 20px;
                    border: none;
                    margin-top: 20px;
                }
            }
        }
    }
}
.card-image:nth-child(4n){
    .card-image-popup{
        left:-285px;
        svg{
            transform: rotate(0.5turn);
            left: unset;
            right: -20px !important;
        }
    }
}
@media only screen and (max-width: 600px) {
    .card-image{
        width: 185px;
        &-popup {
            display: none;
            width: 180px;
            left: 180px;
            right: 0;
            bottom: 0;
            top: 0;
            padding: 10px;
            position: relative;
            border-radius: $border-radius-small;
    
            svg {
                position: absolute;
                left: -20px;
                top: 50%;
                bottom: 50%;
                font-size: 30px;
    
                path {
                    color: white;
                }
            }
        }
    }
   
    .card-image:nth-child(2n){
        .card-image-popup{
            left:-195px;
            svg{
                transform: rotate(0.5turn);
                left: unset;
                right: -20px !important;
            }
        }
    }
}