@import "../../../utils/styles/color.scss";
.card {
    box-shadow: 0px 28px 29px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 28px 29px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 28px 29px -4px rgba(0, 0, 0, 0.75);
    width: 280px !important;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    .card-header {
        max-width: 280px;
        position: relative;
        img {
            width: 100%;
        }
        .title {
            position: absolute;
            top: 5px;
            left: 5px;
        }
        span {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 1.2rem;
            color: white;
        }
        .type {
            position: absolute;
            display: flex;
            align-items: center;
            bottom: 10px;
            left: 5px;
            right: 5px;
            img {
                width: 20px;
                height: 20px;
            }
            &-text {
                color: white;
                font-weight: 600;
                font-size: 0.8rem;
            }
        }
    }
    .card-body {
        margin-top: 10px;
        min-height: 200px;
        padding: 10px;
        .title {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .rating {
            font-size: 0.8rem;
            display: flex;
            align-items: center;
        }
        .content {
            .body-content {
                font-size: 0.8rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0;
                .description {
                    font-weight: bold;
                }
            }
        }
    }
    .card-footer {
        border-top: 1px solid #f5f5f6;
        padding: 10px;
        position: relative;
        box-sizing: border-box;
        .card-footer-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.8rem;
            &-title {
                color: $main-color;
                font-weight: bold;
            }
            &-ticket {
                color: $main-color;
                display: flex;
                gap: 5px;
                img {
                    width: 14px;
                    height: 14px;
                }
            }
        }
        .book-now {
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $main-color;
            color: white !important;
            font-weight: bold;
            p{
                color: white !important;
            }
        }
        // &:hover .book-now{
        //     top:0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        // }
    }

}
