@mixin image($img:'../../assets/icon/datetime.svg') {
    width: 25px;
    height: 25px;
    background-image: url($img);
    background-repeat: no-repeat;
}

@mixin imageURL(){
    object-fit: contain;
    object-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}