@import '../../utils/styles/function.scss', '../../utils/styles/variabel.scss', '../../utils/styles/color.scss';

.region {
    .banner-region {
        height: 500px;
        width: 100%;
        position: relative;
        display: flex;

        .dimmer {
            background-color: #191B20;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            opacity: 0.5;
        }

        .body-banner {
            @include imageURL();
            flex: 1;
            display: flex;
            align-items: center;

            .__banner-content {
                z-index: 99;
                @include container();
                flex: 1;
                font-weight: 700;

                .__banner-search {
                    display: flex;
                    min-width: 216px;
                    max-width: 700px;
                    width: 100%;
                    background-color: #191B20;
                    border-radius: $border-radius-large;
                    position: absolute;
                    border: solid 2px #494D58;
                    top: 40px;

                    .input-banner-search {
                        height: 44px;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        width: 100%;

                        svg {
                            fill: #fff;
                            flex: 1;
                            width: 30px;
                            height: 30px;
                        }

                        input {
                            // height: 35px;
                            flex: 10;
                            background: transparent;
                            border: none;
                            outline: none;
                            color: #fff;
                            font-size: 1.5rem;
                        }

                        .clear-all {
                            color: #fff;
                            margin: 0px 10px;
                            visibility: hidden;

                            svg {
                                fill: #fff;
                            }
                        }

                        .clear-all.active {
                            visibility: visible;
                        }

                        button {
                            flex: 2;
                            background-color: #55ADFE;
                            padding: 12px 5px;
                            border-radius: $border-radius-medium;
                            outline: none;
                            border: none;
                            font-family: Regular;
                            font-size: 1rem;
                        }
                    }
                }

                p {
                    color: #fff;
                }

                .__banner_title {
                    font-size: 2.25rem;
                    line-height: 2.75rem;
                }

                .__banner_location {
                    font-size: 5rem;
                    line-height: 5.25rem;
                }

                .__banner_description {
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1.875rem;
                }
            }
        }

    }

    .content-region {
        @include container();

        .category-trip {
            display: flex;
            gap: 10px;
            margin: 10px 0;
            justify-content: flex-start;

            button {
                @include button($secondary-color, $main-color);
                padding: 5px 10px;
                font-size: 1rem;
                border-radius: $border-radius-medium;
            }

            button.active {
                @include button($main-color, white);
            }
        }

        .guide {
            @include grid();
        }

        .pickup {
            .body-form-input{
                @include imageURL();
                min-height: 200px;
                width: 100%;
                // background-color: $main-color;
                display: flex;
                box-sizing: border-box;
                padding: 20px;
                flex-direction: column;
                justify-content: center;
                margin: 40px 0;
                border-radius: $border-radius-small;

                .form-input-pickup {
                    display: flex;
                    justify-content: flex-start;
                    gap: 20px;
                    flex-wrap: wrap;
    
                    .btn-reverse {
                        @include button();
                        padding: 10px 17px;
                        border-radius: $border-radius-rounded;
                        background-color: $main-color;
    
                        svg {
                            fill: white;
                            width: 20px;
                            height: 20px;
                        }
    
                        &.rotate {
                            svg {
                                animation: rotate 0.5s infinite;
                            }
                        }
                    }
    
                    .__btn-search {
                        @include button();
                        padding: 10px 50px;
                        border-radius: $border-radius-small;
                        background-color: $main-color;
    
                        svg {
                            fill: white;
                            width: 20px;
                            height: 20px;
                        }
                    }
    
                    @keyframes rotate {
                        25% {
                            transform: rotate(0deg);
                        }
    
                        // 50%{
                        //     transform: rotate(90deg);
    
                        // }
                        // 50%{
                        //     transform: rotate(120deg);
    
                        // }
                        100% {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .content-pickup {
                display: flex;
                flex-direction: column;
                gap: 10px;
                // align-items: center;
                .count-result-content-pickup {
                    margin: 20px 0;

                }
                .body-content-pickup {
                    width: 100%;
                    .card-pickup-schedule {
                        background-color: white;
                        min-height: 200px;
                        border-radius: $border-radius-small;
                        box-shadow: -1px 1px 11px -2px rgba(0, 0, 0, 0.75);
                        -webkit-box-shadow: -1px 1px 11px -2px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: -1px 1px 11px -2px rgba(0, 0, 0, 0.75);
                        display: flex;

                        .time-pickup-schedule {
                            // background-color: red;
                            flex: 2;
                            position: relative;
                            display: flex;

                            .drop-point {
                                margin: 15px 15px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                position: relative;

                                &::before {
                                    content: '';
                                    border-left: dotted 4px #dedede;
                                    position: absolute;
                                    display: block;
                                    width: 1px;
                                    top: 10px;
                                    bottom: 30px;
                                    left: 2px;
                                }

                                .circle-top {
                                    position: absolute;
                                    top: -10px;
                                    left: -20px;

                                    svg {
                                        width: 50px;
                                        height: 50px;

                                        path {
                                            fill: #dedede;
                                        }

                                    }
                                }

                                .circle-bottom {
                                    position: absolute;
                                    bottom: -10px;
                                    left: -20px;

                                    svg {
                                        width: 50px;
                                        height: 50px;

                                        path {
                                            fill: #dedede;
                                        }

                                    }
                                }

                                .start-point {
                                    margin-left: 20px;

                                    p {
                                        font-size: 0.8rem;
                                    }

                                    p:nth-child(2) {
                                        font-size: 1rem;
                                        font-weight: bold;
                                    }
                                }

                                .end-point {
                                    margin-left: 20px;

                                    p {
                                        font-size: 0.8rem;
                                    }

                                    p:nth-child(2) {
                                        font-size: 1rem;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }

                        .estimation-pickup-schedule {
                            flex: 2;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;

                            .time {
                                margin: 15px 15px;
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                width: 100%;

                                p:nth-child(1) {
                                    font-size: 2rem;
                                    font-weight: bold;
                                }
                            }

                            .slot {
                                width: 100%;
                                margin: 15px 15px;
                            }

                        }

                        .price-pickup-schedule {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            justify-content: space-between;

                            .price {
                                margin: 15px;
                                display: flex;
                                flex-direction: column;
                                gap: 20px;

                                .type {
                                    display: flex;
                                    justify-content: flex-end;
                                    gap: 5px;

                                    button {
                                        @include button;
                                        padding: 5px 10px;
                                        background-color: #FFF3DF;
                                        color: $main-color;
                                    }
                                }

                                .value {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-end;

                                    p:nth-child(1) {
                                        font-size: 1rem;
                                        text-decoration: line-through;
                                        color: #6F6F6F;
                                    }
                                    p:nth-child(2) {
                                        font-size: 2rem;
                                        font-weight: bold;
                                    }
                                }
                            }

                            .buy {
                                margin: 15px;
                                button{
                                    @include button();
                                    padding: 7px 50px;
                                    font-size: 1rem;
                                    font-weight: bold;
                                    border-radius: $border-radius-small;
                                    background-color: $main-color;
                                    color: white;
                                }   

                            }
                        }
                    }
                }
            }
        }
        .trip{
            @include grid();
        }
    }


}