.image-collage {
    position: relative;
    .content-collage {
        display: grid;
        grid-gap: 8px;
        background-color: white;
        grid-template-columns: 4fr 1fr 1fr;
        height: 100%;
        position: relative;
        width: 100%;
        img:nth-child(1) {
            grid-row: 1/3;
            width: 100%;
            height: 455px;
        }
        img:nth-child(2) {
            width: 100%;
            grid-column: 2/4;
            grid-row: 1;
        }
    }
    .button-view-all {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 99;
    }
}
body.dark .content-collage{
    background-color: black;
}