.button{
    outline: none;
    border: none;
    background-color: #006E5D;
    color: white;
}
.bg-white{
    background-color: white !important;
    color: #006E5D;
}
.small{
    padding: 5px 10px;
    font-size: 0.8em;
}
.normal{
    padding: 10px 20px;
    font-size: 1em; 
}
.rounded-sm{
    border-radius: 5px;
}
.rounded-md{
    border-radius: 40px;
}