.button{
    outline: none;
    border: none;
    background-color: #006E5D;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:5px;
}
.bg-white{
    background-color: white !important;
    color: #006E5D;
}
.bg-transparent{
    background-color: rgb(69,82,87);
    opacity: 0.7;
}
.small{
    padding: 5px 10px;
    font-size: 0.8em;
}
.normal{
    padding: 10px 20px;
    font-size: 1em; 
    @media only screen and (max-width: 768px) {
        .normal{
            padding: 5px 10px;
            font-size: 0.7em; 
        }
    }
}
.rounded-sm{
    border-radius: 5px;
}
.rounded-md{
    border-radius: 40px;
}
