@import '../../utils/styles/function.scss', '../../utils/styles/color.scss', '../../utils/styles/variabel.scss';

.body-detail-place {
    // display: flex;
    // justify-content: center;
    @include container();
}

.detail-place {
    
    .overview {
        margin-top: 40px;

        .__title {
            display: flex;
            gap: 20px;
            position: relative;

            span {
                font-weight: 500;
                font-size: 1.2rem;
                position: relative;
                color: #bbb;

                &.active{
                    color: black;
                }

                &.active::before {
                    position: absolute;
                    bottom: -3px;
                    content: '';
                    width: 100%;
                    height: 3px;
                    border-radius: $border-radius-medium;
                    background-color: $main-color;
                    font-family: Bold;
                    animation: loaded 0.5s forwards;
                }

                &:hover {
                    cursor: pointer;
                }
            }
            @keyframes loaded {
                50% {
                    margin-bottom: -10px;
                    opacity: 0;
                }
            
                100% {
                   margin-bottom:0;
                   opacity: 1;
                   border-bottom: solid 2px $main-color;
                }
            }

            div {
                width: 2px;
                background-color: #E0DFE2;
            }
        }

        .__description {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media only screen and (max-width: 600px) {
                grid-template-columns: repeat(1, 1fr);
            }

            gap:20px;



        }
    }

    .information {
        margin: 30px 0;
        font-family: Regular;
        display: flex;
        gap: 50px;

        .___description {
            flex: 3;

            p {
                text-indent: 50px;
                text-align: justify;
            }
        }
        .__booked{
            flex: 1;
            display: flex;
            flex-direction: column;
            box-shadow: -1px 1px 11px -2px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 1px 11px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 1px 11px -2px rgba(0, 0, 0, 0.75);
            border-radius: $border-radius-small;
            padding: 20px;
            gap: 20px;

            .___price {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .__total_price{
                    p{
                        font-size: 1.4rem;
                        font-weight: bold;
                    }
                }
                .___review{
                    display: flex;
                    align-items: center;
                    gap:5px;
                    p:nth-child(1){
                        font-weight: bold;
                    }
                    p:nth-child(4){
                        color:#9B9B9B;
                        font-size: 0.9rem;
                        font-weight: 500;
                    }
                    .__dot{
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: #bbb;
                    }
                }
            }
            .__date{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 10px;
            }
            .btn-booked{
                button{
                    width: 100%;
                    padding: 10px 0;
                    background-color: $main-color;
                    color: white;
                    @include button();
                }
            }
        }

    }

    .another-place {
        .___label {
            font-family: Bold;
            margin-bottom: 40px;
            font-size: 1.2rem;
        }

        .___content {
            margin-top: 30px;
            @include grid();
        }
    }
}
.rdrDateDisplayWrapper {
    display: none !important;
}